﻿@model LotAddViewModel

<span asp-validation-summary="All" />
@{ int itemIndex = 0; }
@foreach (var item in Model.Items)
{
    <input type="hidden" asp-for="@Model.Items[itemIndex].BGGId" />
    <input type="hidden" asp-for="@Model.Items[itemIndex].Name" />
    <input type="hidden" asp-for="@Model.Items[itemIndex].ImageUrl" />
    <input type="hidden" asp-for="@Model.Items[itemIndex].Year" />
    <input type="hidden" asp-for="@Model.Items[itemIndex].Rating" />
    <input type="hidden" asp-for="@Model.Items[itemIndex].Weight" />

    <h4>@item.Name</h4>
    @if (item.Versions.Count == 1) { <h5>Select the version</h5> }
    <div class="product-wrapper">
        @if (item.Versions.Count == 1)
        {
            <div class="rich-select-option-body pl-2">
                <input type="hidden" asp-for="@Model.Items[itemIndex].VersionId" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].BGGId" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].VersionId" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].VersionName" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].Name" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].ImageUrl" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].Year" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].Rating" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[0].Weight" />
                <img src="@item.Versions[0].ImageUrl" alt="">@item.Versions[0].VersionName (@item.Versions[0].Year)
            </div>
        }
        else
        {
            <div class="rich-select custom-select">
                <div class="rich-select-dropdown">
                    @{ int versionIndex = 0; }
                    @foreach (var version in item.Versions)
                    {
                        <div class="rich-select-option">
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].BGGId" />
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].Name" />
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].VersionId" />
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].VersionName" />
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].ImageUrl" />
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].Year" />
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].Rating" />
                            <input type="hidden" asp-for="@Model.Items[itemIndex].Versions[versionIndex].Weight" />
                            @Html.RadioButtonFor(x => Model.Items[itemIndex].VersionId, Model.Items[itemIndex].Versions[versionIndex].VersionId, new { @id = $"{itemIndex}_SelectedVersion_{version.VersionId}" })
                            <div class="rich-select-option-body">
                                <label tabindex="-1"><img src="@version.ImageUrl" alt="">@version.VersionName (@version.Year)</label>
                            </div>
                        </div>
                        versionIndex++;
                    }
                </div>
                <input type="checkbox" id="rich-select-dropdown-button" class="rich-select-dropdown-button" />
                <label for="rich-select-dropdown-button"></label>

                <div class="rich-select-options">
                    @{ versionIndex = 0; }
                    @foreach (var version in item.Versions)
                    {
                        <div class="rich-select-option">
                            <div class="rich-select-option-body">
                                <label for="@Html.Raw($"{itemIndex}_SelectedVersion_{version.VersionId}")" tabindex="-1" onclick="document.getElementById('rich-select-dropdown-button').click();">
                                    <img src="@version.ImageUrl" alt=""> @version.VersionName (@version.Year)
                                </label>
                            </div>
                        </div>
                        versionIndex++;
                    }
                </div>
            </div>
        }
    
        <input id="addNote-@item.BGGId" class="addNote" type="checkbox" />
        <label for="addNote-@item.BGGId" class="addNote" unselectable="on">
            <span class="fa-stack">
                <i class="fas fa-sticky-note fa-stack-2x unchecked"></i>
                <i class="fas fa-plus fa-stack-1x fa-inverse unchecked"></i>
                <i class="far fa-sticky-note fa-stack-2x checked"></i>
            </span>
            <span class="addNoteText d-none d-sm-inline-block">Add Note</span>
        </label>
        <textarea class="addNote" asp-for="@Model.Items[itemIndex].Notes"></textarea>
    </div>

    if (item.Expansions.Count > 0)
    {
        int expansionIndex = 0;
        <h5 class="mt-3">Include Expansions?</h5>
        @foreach (var expansion in item.Expansions)
        {
            <div class="form-row resultRow">
                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].BGGId" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Name" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].ImageUrl" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Year" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Rating" />
                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Weight" />

                <div class=" custom-control custom-checkbox">
                    @*<input type="checkbox" class="expansion-checkbox custom-control-input" id="exp-@expansion.BGGId">*@
                    @Html.CheckBoxFor(x => Model.Items[itemIndex].Expansions[expansionIndex].IsChecked, new { @id = $"exp-{Model.Items[itemIndex].Expansions[expansionIndex].BGGId}", @class = "expansion-checkbox custom-control-input" })
                    <label class="custom-control-label" for="exp-@expansion.BGGId">

                        @if (expansion.Versions.Count == 1)
                        {
                            <div class="rich-select-option-body pl-2">
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].VersionId" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].BGGId" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].VersionId" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].VersionName" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].Name" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].ImageUrl" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].Year" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].Rating" />
                                <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[0].Weight" />
                                <img src="@expansion.ImageUrl" />@expansion.Name: @expansion.Versions[0].VersionName (@expansion.Versions[0].Year)
                            </div>
                        }
                        else
                        {
                            <div class="rich-select custom-select d-block">
                                <div class="rich-select-dropdown">
                                    @{ int expansionVersionIndex = 0; }
                                    @foreach (var version in expansion.Versions)
                                    {
                                        <div class="rich-select-option">
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].BGGId" />
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].Name" />
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].VersionId" />
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].VersionName" />
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].ImageUrl" />
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].Year" />
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].Rating" />
                                            <input type="hidden" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].Weight" />
                                            @Html.RadioButtonFor(x => Model.Items[itemIndex].Expansions[expansionIndex].VersionId, Model.Items[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].VersionId, new { @id = $"{itemIndex}_{expansionIndex}_SelectedVersion_{version.VersionId}" })
                                            @*<input type="radio" name="exp-@Model[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].BGGId" id="exp-@Model[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].BGGId-@Model[itemIndex].Expansions[expansionIndex].Versions[expansionVersionIndex].VersionId" @if (expansionVersionIndex == 0) { @Html.Raw(" checked") ; } />*@
                                            <div class="rich-select-option-body">
                                                <label tabindex="-1">
                                                    <img src="@version.ImageUrl" alt="">@expansion.Name: @version.VersionName (@version.Year)
                                                </label>
                                            </div>
                                        </div>
                                        expansionVersionIndex++;
                                    }
                                </div>
                                <input type="checkbox" id="rich-select-dropdown-button-@expansion.BGGId" class="rich-select-dropdown-button" />
                                <label for="rich-select-dropdown-button-@expansion.BGGId"></label>
                                <div class="rich-select-options">
                                    @{ expansionVersionIndex = 0; }
                                    @foreach (var version in expansion.Versions)
                                    {
                                        <div class="rich-select-option">
                                            <div class="rich-select-option-body">
                                                <label for="@Html.Raw($"{itemIndex}_{expansionIndex}_SelectedVersion_{version.VersionId}")" tabindex="-1" onclick="document.getElementById('rich-select-dropdown-button-@expansion.BGGId').click();">
                                                    <img src="@version.ImageUrl" alt="">@expansion.Name: @version.VersionName (@version.Year)
                                                </label>
                                            </div>
                                        </div>
                                        expansionVersionIndex++;
                                    }
                                </div>
                            </div>
                        }
                    </label>

                    <input id="addNote-exp-@expansion.BGGId" class="addNote" type="checkbox" />
                    <label for="addNote-exp-@expansion.BGGId" class="addNote" unselectable="on">
                        <span class="fa-stack">
                            <i class="fas fa-sticky-note fa-stack-2x unchecked"></i>
                            <i class="fas fa-plus fa-stack-1x fa-inverse unchecked"></i>
                            <i class="far fa-sticky-note fa-stack-2x checked"></i>
                        </span>
                        <span class="addNoteText d-none d-sm-inline-block">Add Note</span>
                    </label>
                    <textarea class="addNote" asp-for="@Model.Items[itemIndex].Expansions[expansionIndex].Notes"></textarea>
                </div>
            </div>
            expansionIndex++;
        }
    }
    itemIndex++;
}