﻿@model Item

@{
    <div>
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" asp-controller="Lot" asp-route-id="@Model.LotId">
            <img class="lot-image-single" src=@Model.ImageUrl width="150" />
        </a>
        <div class="d-inline-block align-top">
            <span class="rating-icon d-block fa-stack fa-1x mb-3" title="@Html.Raw($"Rated {@Model.Rating} / 10")">
                <i class="fas fa-certificate fa-stack-2x"></i>
                <strong class="pt-1 fa-stack-1x">@Model.Rating</strong>
            </span>
            <span class="weight-icon d-block fa-stack fa-1x mb-3" title="@Html.Raw($"Weight {Model.Weight} / 5")">
                <i class="fas fa-weight-hanging fa-stack-2x"></i>
                <strong class="pt-2 fa-stack-1x"><small>@Model.Weight</small></strong>
            </span>

            @if (Model.Expansions.Count != 0)
            {
                <span class="expansions-icon d-block fa-stack fa-1x mb-1" title="@Html.Raw($"Includes {Model.Expansions.Count} expansions")">
                    <i class="fas fa-stop fa-stack-2x"></i>
                    <strong class="pb-0 fa-stack-1x">+@Model.Expansions.Count</strong>
                </span>
            }
        </div>
    </div>
    <div class="lot-text pt-1">
        <strong>@Html.Raw(Model.Year > 0 ? $"{Model.Name} ({Model.Year})" : Model.Name)</strong>
        <small>@Model.VersionName</small>
        @if (string.IsNullOrWhiteSpace(Model.Notes) == false)
        {
            <div class="notes"><p>@Model.Notes</p></div>
        }
    </div>
}