﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Board Game Auction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/dad49bad13.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-2 px-md-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-0 flex-grow-1 text-left ml-md-3" asp-area="" asp-controller="Home" asp-action="Index">Board Game Auction</a>
            <div>
                @if (User.Claims.Any(c => c.Type == "auctionCode"))
                {
                    <div id="accountBalance" title="This is the amount coming to you at the end of the auction">@ViewData["balance"]</div>
                    <div class="auction-code">@User.Claims.First(c => c.Type == "auctionCode").Value</div>
                }
            </div>
            <div class="navbar-collapse collapse flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated && User.HasClaim(c => c.Type == "auction"))
                    {
                        if (User.HasClaim(c => c.Type == "role") == false || User.FindFirst(c => c.Type == "role").Value != ((int)BoardGameAuction.Models.Types.RoleType.AuctionAdmin).ToString())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="BecomeAdmin"><i class="fas fa-users-cog"></i> Become an Admin</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="Edit"><i class="fas fa-cogs"></i> Auction Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="Summary"><i class="fas fa-file-invoice-dollar"></i> Auction Status/Summary</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="Leave"><i class="fas fa-sign-out-alt"></i> Leave Auction</a>
                        </li>
                    }
                    <li class="nav-item">
                        @if (User.HasClaim(c => c.Type == "unique_name"))
                        {
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="LogOut"><i class="fas fa-user-circle"></i> Log Out <span class="text-muted">: Logged in as @User.Claims.Single(c => c.Type == "unique_name").Value</span></a>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><i class="fas fa-user-circle"></i> Login/Register as a Seller</a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid px-0 px-md-1 px-lg-2 px-xl-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div id="loader"><img src="~/img/loader.gif" /></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - BoardGameAuction - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

@if (User.HasClaim(c => c.Type == "nameid"))
{
    <script src="lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">
        (async function () {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/account/balance')
                .withAutomaticReconnect()
                .build();

            connection.on('sendBalance', function (message) {
                document.getElementById('accountBalance').innerText = message;
            });

            await connection.start();
        })();
    </script>
}
    @RenderSection("Scripts", required: false)
</body>
</html>
