﻿@model Lot
@using BoardGameAuction.Models.Types
@{ 
    bool isTheSeller = Model.Seller != null && User.HasClaim("role", ((int)RoleType.Seller).ToString());
    bool isAdmin = User.HasClaim(c => c.Type == "role" && c.Value == ((int)BoardGameAuction.Models.Types.RoleType.AuctionAdmin).ToString());
    bool isActiveLot = Model.Id == int.Parse(ViewData["activeLotId"]?.ToString() ?? "0");
    var lotClasses = "lot";
    if (isAdmin == false) { lotClasses += " movefirstwhenactive"; }
    if (isActiveLot) { lotClasses += " active"; }
}

    <div id="lot-wrapper-@Model.Id" class="@lotClasses">
        <input type="radio" value="lot-@Model.Id" id="lot-@Model.Id" name="activeLot" @if(isActiveLot) { @Html.Raw("checked"); }/>
        <div class="lot-card card my-1 m-md-1 p-md-2 shadow-sm @Html.Raw(isTheSeller ? "yourLot" : "")">
            <div class="lot-card-body d-flex flex-row flex-wrap">
                @if (Model.Items.Count == 1)
                {
                    @await Html.PartialAsync("_Item", Model.Items[0])
                }
                else
                {
                    int imageWidth = 190 / 2;
                    @for (int index = 0; index < Model.Items.Count; index++)
                    {
                        @if (index == 3 && Model.Items.Count > 4)
                        {
                            <div class="lot-image-overflow">@Html.Raw($"+{Model.Items.Count - 3}")</div>
                            break;
                        }
                        <a href=@Url.Action("Index", "Lot", new { id = Model.Items[0].LotId })>
                            <img class="lot-image-multi" src=@Model.Items[index].ImageUrl width=@Html.Raw(imageWidth) />
                        </a>
                    }
                    <div class="lot-text pt-1">
                        <strong>@string.Join(" + ", Model.Items.Select(x => x.Year > 0 ? $"{x.Name} ({x.Year})" : x.Name))</strong>
                        @if (Model.Items.Any(x => string.IsNullOrWhiteSpace(x.Notes) == false))
                        {
                            <div class="notes">
                                @foreach (var note in Model.Items.Where(y => string.IsNullOrWhiteSpace(y.Notes) == false))
                                {
                                    <p>
                                        <strong>@note.Name:</strong> @note.Notes
                                    </p>
                                }
                            </div>
                        }
                    </div>
                }

                @if (isAdmin)
                {
                    @await Html.PartialAsync("~/Views/Lot/_LotSell.cshtml", Model)
                }
                @Html.ValidationSummary(true)
            </div>
        </div>
    </div>