﻿@model NameSearchResponse

<span asp-validation-summary="All" />
@foreach (var item in Model.Items)
{
    <button type="button" class="resultRow py-2" onclick="ajaxPartial('@Url.Action("ById", "Search", new { @id = item.BGGId })', '#searchForm', false)">@item.Name@if (item.Year != 0) { @Html.Raw($" ({item.Year})"); }</button>
}