﻿
@{
    ViewData["Title"] = "401 - Unauthorised";
}

    <div class="text-center mt-5" style="position: relative;">
        <span class="fa-stack fa-9x">
            <i class="fas fa-door-closed fa-stack-2x"></i>
        </span>
        <div class="text-white" style="position: absolute; top: 13%; width: 100%; margin: 0 auto; font-size: 1.5em; font-weight: 700;">Private</div>
        <div class="" style="position: absolute; top: 10%; left: 60%; font-size: 2.5em; font-weight: 700;">401</div>
        <h1 class="mt-5">Unauthorised</h1>
    </div>
