﻿@model Lot

@if (Model.StartPrice > 0 && Model.EndPrice > 0)
{
    <form data-ajax="true" method="post" action="/lot/@Model.Id/makeactive">
        <span class="make-lot-active" title="Make Active">
            <label class="btn btn-outline-light" for="lot-@Model.Id">
                <button type="submit" name="Id" value="@Model.Id"><i class="fa fas fa-gavel"></i></button>
            </label>
            <p class="price-range"><strong>@Model.StartPrice.ToString("C0")</strong> - <strong>@Model.EndPrice.ToString("C0")</strong></p>
        </span>
    </form>
}

<div class="sales-options">
    <form data-ajax="true" asp-action="Sell" asp-controller="Lot" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="d-flex flex-row flex-wrap justify-content-between">
            @foreach (double option in Model.SalesOptions)
            {
                <input type="hidden" asp-for="SalesOptions" value="@option" />
                <button class="btn btn-outline-secondary" type="submit" name="SalePrice" value=@option>@option.ToString("C0")</button>
            }
            @Html.TextBoxFor(x => x.SalePrice, null, new { @class = "form-control ml-auto", @type = "number" })
        </div>

        <button class="btn btn-secondary" type="submit" name="SalePrice" value=-1>No Sale</button>
        <input type="hidden" asp-for="Seller.Id" />
        <small>@Model.Seller.Name</small>
    </form>
</div>