﻿@model Lot
@{
    ViewData["Title"] = "Add Confirmation";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h5>Lot Added</h5>
        <p>Your lot has been put into the auction. You can now add more items to that lot, or add more lots, return to the auction, or go get an Eskimo Pie. It's up to you.</p>
    </div>
    @if (Model.Items?.Count() > 0)
    {
        <div class="col-md-8 offset-md-2 border-colour border-top">
            <h5 class="pt-2">Lot contents</h5>
            <div class="d-flex flex-row flex-wrap justify-content-center pb-2 pb-lg-4">
                @foreach(var item in Model.Items)
                {
                    <div class="mx-2">
                        @await Html.PartialAsync("_Item", item)
                    </div>
                }
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
        <a class="btn btn-outline-primary" asp-controller="Auction" asp-action="Index">Back to the Auction</a>
        <a class="btn btn-outline-primary" asp-controller="Lot" asp-action="AddItem" asp-route-id="0">List Another Lot</a>
        <a class="btn btn-outline-primary" asp-controller="Lot" asp-action="AddItem" asp-route-id="@Model.Id">Add To This Lot</a>
    </div>
</div>