﻿@model LotAddViewModel
@{
    ViewData["Title"] = "Add Item";
}

    <form asp-controller="Lot" asp-action="AddItem" >
        <div class="row mx-auto">
            <div id="searchForm" class="col-md-8 col-lg-8 col-xl-6 offset-lg-1 offset-xl-3">
                <h5 class="modal-title" id="addLotModalTitle">@Html.Raw(Model?.LotId == 0 ? "Start a lot by adding an item" : "Add an item")</h5>
                Search for the item by name
                <input type="text" class="form-control mt-1 mb-3" tabindex="0" autofocus onkeyup="searchByName(this, '@Url.Action("ByName", "Search")', $('#resultsTable'));" />
                @Html.ValidationSummary(true)
                <div id="resultsTable"></div>
            </div>
            @if (Model?.Items?.Count(x => x.Id != 0) > 0)
            {
                <div id="LotAddBasket" class="col-md-4 col-lg-3 col-xl-3 border-colour">
                    <h5 class="pt-2">Lot contents</h5>
                    <div class="d-flex flex-row flex-wrap">
                        @foreach (var item in Model.Items.Where(x => x.Id != 0))
                        {
                            <div class="lot-card">
                                @await Html.PartialAsync("_Item", new Item(item))
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <span asp-validation-summary></span>
        <div id="AddFooter">
            <div class="col-md-8 col-xl-6 offset-lg-1 offset-xl-3">
                <div class="form-row">
                    <div class="col-8 col-sm-6 col-md-5 d-flex justify-content-between">
                        <div class="input-group">
                            <span asp-validation-for="StartPrice"></span>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="startpricesymbol">£</span>
                            </div>
                            <input type="number" asp-for="StartPrice" class="form-control" placeholder="Start Price" number aria-label="Start Price" aria-describedby="startpricesymbol" />
                        </div>

                        <div class="input-group">
                            <span asp-validation-for="EndPrice"></span>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="endpricesymbol">£</span>
                            </div>
                            <input type="number" asp-for="EndPrice" class="form-control" placeholder="End Price" number aria-label="End Price" aria-describedby="endpricesymbol" />
                        </div>
                    </div>
                    <input type="hidden" asp-for="LotId" />
                    <div class="col-4 col-sm-6 col-md-7 flex-grow-1 px-0 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary ml-auto mr-1">Add</button>
                        <a asp-action="Index" asp-controller="Auction" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>