﻿@model Lot
@using BoardGameAuction.Models.Types
@{
    ViewData["Title"] = "Home Page";
}
@{ 
    bool isTheSeller = Model.Seller != null && User.HasClaim("role", ((int)RoleType.Seller).ToString());
    bool allowEdits = Convert.ToBoolean(ViewData["allowEdits"]);
}

    @if (isTheSeller && allowEdits)
    {
        <div class="row no-gutters">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                    <h5 class="flex-grow-1 pl-0">Price Range: <strong>@Model.StartPrice.ToString("C0")</strong> - <strong>@Model.EndPrice.ToString("C0")</strong></h5>
                    <a class="btn btn-primary mx-1 mb-1" asp-controller="Lot" asp-action="AddItem" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-outline-danger mb-1" asp-action="Delete" asp-controller="Lot" asp-route-id="@Model.Id">Delete entire Lot</a>
                </div>

            </div>
        </div>
    }
    <div class="row no-gutters mt-1">
        @foreach (var item in Model.Items)
        {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 m-0 pb-1">
                <div class="lot-card card w-auto p-md-2 shadow-sm">
                    <div class="lot-card-body w-auto d-flex flex-row">
                        @if (isTheSeller && allowEdits && Model.Items.Count > 1)
                        {
                            <form asp-controller="Lot" asp-action="DeleteItem" asp-route-itemId="@item.Id" asp-route-id="@Model.Id" method="post">
                                <button type="submit" class="btn btn-danger delete-item-btn">Delete</button>
                            </form>
                        }
                        <div class="m-1">
                            <a href="https://boardgamegeek.com/boardgame/@item.BGGId" target="_blank">
                                <img class="lot-image-single" src=@item.ImageUrl width="150" />
                            </a>
                        </div>
                        <div class="m-1 text-center flex-grow-1 ">
                            <div class="lot-text pt-1">
                                <strong>@Html.Raw(item.Year > 0 ? $"{item.Name} ({item.Year})" : item.Name)</strong>
                                <small>@item.VersionName</small>
                            </div>
                            <div class="d-flex justify-items-center align-items-center">
                                <span class="bgg-icon fa-stack mb-3" title="More on BoardGameGeek">
                                    <a href="https://boardgamegeek.com/boardgame/@item.BGGId" target="_blank">
                                        <img src="~/img/bgg.svg" />
                                        <strong class="pt-1 fa-stack-1x">BGG</strong>
                                    </a>
                                </span>
                                <span class="rating-icon fa-stack fa-1x mb-3" title="@Html.Raw($"Rated {item.Rating} / 10")">
                                    <i class="fas fa-certificate fa-stack-2x"></i>
                                    <strong class="pt-1 fa-stack-1x">@item.Rating</strong>
                                </span>
                                <span class="weight-icon fa-stack fa-1x mb-3" title="@Html.Raw($"Weight {item.Weight} / 5")">
                                    <i class="fas fa-weight-hanging fa-stack-2x"></i>
                                    <strong class="pt-2 fa-stack-1x"><small>@item.Weight</small></strong>
                                </span>
                                @*<span class="fa-stack fa-1x mb-3">
                                    <i class="fas fa-users fa-stack-2x text-primary"></i>
                                    <strong class="pt-2 text-white fa-stack-1x"><small>1-4</small></strong>
                                </span>*@

                                @if (item.Expansions.Count != 0)
                                {
                                    <span class="expansions-icon fa-stack fa-1x mb-1" title="@Html.Raw($"Includes {item.Expansions.Count} expansions")">
                                        <i class="fas fa-stop fa-stack-2x"></i>
                                        <strong class="pb-0 fa-stack-1x">+@item.Expansions.Count</strong>
                                    </span>
                                }
                            </div>
                            <div class="lot-text pt-1">
                                @if (string.IsNullOrWhiteSpace(item.Notes) == false)
                                {
                                    <div class="notes"><p>@item.Notes</p></div>
                                }
                            </div>
                        </div>
                    </div>

                    @foreach (var expansion in item.Expansions)
                    {
                        <div class="d-flex flex-column flex-wrap lot-card card w-auto my-1 m-md-1 p-md-2">
                            <div class="lot-card-body w-auto d-flex flex-row">
                                <div class="m-1">
                                    <a href="https://boardgamegeek.com/boardgame/@expansion.BGGId" target="_blank">
                                        <img class="lot-image-single" src=@expansion.ImageUrl width="150" />
                                    </a>
                                </div>
                                <div class="m-1 text-center flex-grow-1 ">
                                    <div class="lot-text pt-1">
                                        <strong>@Html.Raw(expansion.Year > 0 ? $"{expansion.Name} ({expansion.Year})" : expansion.Name)</strong>
                                        <small>@expansion.VersionName</small>
                                        @if (string.IsNullOrWhiteSpace(expansion.Notes) == false)
                                        {
                                            <div class="notes"><p>@expansion.Notes</p></div>
                                        }
                                    </div>
                                    <div class="d-flex justify-items-center align-items-center">
                                        <span class="bgg-icon fa-stack mb-3" title="More on BoardGameGeek">
                                            <a href="https://boardgamegeek.com/boardgame/@expansion.BGGId" target="_blank">
                                                <img src="~/img/bgg.svg" />
                                                <strong class="pt-1 fa-stack-1x">BGG</strong>
                                            </a>
                                        </span>
                                        <span class="rating-icon fa-stack fa-1x mb-3" title="@Html.Raw($"Rated {expansion.Rating} / 10")">
                                            <i class="fas fa-certificate fa-stack-2x"></i>
                                            <strong class="pt-1 fa-stack-1x">@expansion.Rating</strong>
                                        </span>
                                        <span class="weight-icon fa-stack fa-1x mb-3" title="@Html.Raw($"Weight {expansion.Weight} / 5")">
                                            <i class="fas fa-weight-hanging fa-stack-2x"></i>
                                            <strong class="pt-2 fa-stack-1x"><small>@expansion.Weight</small></strong>
                                        </span>
                                        @*<span class="fa-stack fa-1x mb-3">
                                            <i class="fas fa-users fa-stack-2x text-primary"></i>
                                            <strong class="pt-2 text-white fa-stack-1x"><small>1-4</small></strong>
                                        </span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @Html.ValidationSummary()
    </div>
