﻿@model BecomeAdminViewModel
@{
    ViewData["Title"] = "Become Admin";
}

<div class="col-lg-4 col-md-8 col-sm-12 mx-auto">
    @using (Html.BeginForm())
    {
        <div id="becomeadmin" class="pt-4 px-5 pb-5 border">
            <h4 class="mb-3">The Ring of Power is within your grasp</h4>
            
            <div class="form-group">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Password), @autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            @Html.ValidationSummary(true)
        </div>
    }
</div>