﻿@model LoginOrRegisterViewModel
@{
    ViewData["Title"] = "LoginRegister";
}

    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 mx-auto">
        @using (Html.BeginForm())
        {
            @Html.RadioButtonFor(e => e.IsRegistering, false, new { id = "tab-login" })
            @Html.RadioButtonFor(e => e.IsRegistering, true, new { id = "tab-register" })

            <ul class="nav nav-tabs">
                <li class="nav-item w-50 text-center">
                    @Html.Label("tab-login", "Login", new { @class = "nav-link" })
                </li>
                <li class="nav-item w-50 text-center">
                    @Html.Label("tab-register", "Register", new { @class = "nav-link" })
                </li>
            </ul>

            <div id="login" class="pt-4 px-5 pb-5 border-left border-right border-bottom">
                <h4 class="mb-3">Hey, nice to see you again</h4>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6">
                        @Html.TextBoxFor(x => x.Login.Forename, null, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Login.Forename), @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(x => x.Login.Forename)
                    </div>

                    <div class="form-group col-12 col-sm-6">
                        @Html.TextBoxFor(x => x.Login.Surname, null, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Login.Surname) })
                        @Html.ValidationMessageFor(x => x.Login.Surname)
                    </div>
                </div>

                <div class="form-group">
                    @Html.PasswordFor(x => x.Login.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Login.Password) })
                    @Html.ValidationMessageFor(x => x.Login.Password)
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                @Html.ValidationSummary(true)
            </div>
            <div id="register" class="pt-4 px-5 pb-5 border-left border-right border-bottom">
                <h4 class="mb-3">New here? You'll like it</h4>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6">
                        @Html.TextBoxFor(x => x.Register.Forename, null, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Register.Forename) })
                        @Html.ValidationMessageFor(x => x.Register.Forename)
                    </div>

                    <div class="form-group col-12 col-sm-6">
                        @Html.TextBoxFor(x => x.Register.Surname, null, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Register.Surname) })
                        @Html.ValidationMessageFor(x => x.Register.Surname)
                    </div>
                </div>

                <div class="form-group">
                    @Html.PasswordFor(x => x.Register.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Register.Password) })
                    @Html.ValidationMessageFor(x => x.Register.Password)
                </div>

                <div class="form-group">
                    @Html.PasswordFor(x => x.Register.ConfirmPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Register.ConfirmPassword) })
                    @Html.ValidationMessageFor(x => x.Register.ConfirmPassword)
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
                @Html.ValidationSummary(true)
            </div>
        }
    </div>