﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.primary { color: #B31C11; }
.primary-dark { color: #660B05; }
.primary-light { color: #FF3E30; }
.secondary { color: #10B353; }
.secondary-dark { color: #00662A; }

.bg-primary { background-color: #B31C11 !important; }
.bg-primary-dark { background-color: #660B05; }
.bg-primary-light { background-color: #FF3E30; }
.bg-secondary { background-color: #10B353 !important; }
.bg-secondary-dark { background-color: #00662A; }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

div#accountBalance {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #00662A;
    padding-right: .5rem;
}

div.auction-code {
    padding: 0 0.3em;
    border-radius: .25rem;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: #B31C11;
}

body > div.container-fluid {
    margin-top: 67px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #10B353 !important;
    border-color: #00662A !important;
}
    .btn-primary:hover {
        border-color: #10B353 !important;
        background-color: #00662A !important;
    }
    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(16,179,83,.5) !important;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #10B353;
    border-color: #00662A;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Validation errors
-------------------------------------------------- */
.input-validation-error {
    border: 1px solid red;
}

span.field-validation-error {
    position: absolute;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(220,53,69,.9);
    border-radius: .25rem;
}

.validation-summary-errors {
    color: white;
    width: fit-content;
    margin: 3px auto;
    padding: 2px 10px;
    background-color: #ca6276;
    border-radius: 5px;
    border: solid 1px crimson;
    box-shadow: 2px 2px 4px 2px #a7a7a7;
}

.validation-summary-errors ul {
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

/* Bootstrap overrides
-------------------------------------------------- */
.modal          { height: 95vh; }
.modal-content  { min-height: 75vh; }
.modal-body {
    max-height: 75vh;
    overflow-y: scroll;
}

/* Select with images
-------------------------------------------------- */
.rich-select {
    height: 81px; /* 75px + 6 */
    width: auto;
    flex-grow: 1;
    position: relative;
    border: none;
    padding: 0;
    background: none;
}

.rich-select-dropdown {
    border: solid 1px #DDD;
    border-radius: .25rem;
}
    .rich-select-dropdown:focus-within {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

.rich-select-dropdown-button {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
    .rich-select-dropdown-button + label,
    .rich-select-option > input[type=radio] {
        position: absolute;
        display: block;
        right: .5rem;
        width: 2rem;
        height: 1rem;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .rich-select-dropdown-button + label {
        top: .5rem;
        padding: 25px 10px;
    }
    .rich-select-dropdown-button + label::before {
        position: absolute;
        top: 50%;
        width: 1rem;
        height: 1rem;
        content: "";
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 5L0 3h4z'/%3e%3c/svg%3e");
    }

.rich-select-dropdown > .rich-select-option > .rich-select-option-body {
    display: none;
}
.rich-select-dropdown > .rich-select-option input[type=radio]:checked + .rich-select-option-body {
    display: inline-block;
    width: 100%;
    padding-right: 15px;
}

.rich-select-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: solid 1px #DDD;
    border-top: none;
    border-radius: .25rem;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: rgba(0,0,0,0.4) 5px 8px 15px;
}

.rich-select-option {
    padding: 0 8px 0 0;
    display: flex;
    align-items: center;
}
.rich-select-options > .rich-select-option:hover {
    background-color: #f1f1f1;
}

.rich-select-option-body {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.rich-select-option-body label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px;
    margin-bottom: 0;
}
.rich-select-option-body img {
    height: 75px;
    width: 75px;
    min-height: 75px;
    min-width: 75px;
    object-fit: contain;
    margin-right: .5rem;
}
.rich-select-option-body > button {
    width: 100%;
    text-align: left;
    padding: 2px;
    border: none;
    outline: none;
    background: none;
} 

.rich-select-dropdown-button:checked ~ .rich-select-options {
    display: inline-block;
}

/* Site
-------------------------------------------------- */
ul.navbar-nav {
    margin-top: .5rem;
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top: solid 1px #f1f1f1;
}

li.nav-item i {
    min-width: 20px;
    text-align: center;
}

li.nav-item a.nav-link:not(:disabled):hover {
    background-color: #f1f1f1;
}

ul.navbar-nav li.nav-item a.nav-link {
    font-size: 1.1rem;
    padding-left: 1rem;
}

#loader {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(256,256,256,0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s;
}
    #loader.show {
        visibility: visible;
        opacity: 1;
    }
    #loader img {
        position: absolute;
        box-shadow: white 0rem 0rem 5rem 5rem;
    }

/* Home page
-------------------------------------------------- */
#homepage {
    margin-left: .5rem;
    margin-right: .5rem;
}

    #homepage .homepage-action:not(:first-of-type) {
        border-width: 1px;
        border-top-style: solid;
    }

@media (min-width: 576px) {
    #homepage .homepage-action:not(:first-of-type) {
        border-left-style: solid;
        border-top: none;
    }
}

.border-colour {
    border-color: #8dbeef !important;
}

div.homepage-action i {
    margin-top: 80px;
}

div.homepage-action h4 {
    margin-top: 40px;
}

/* Login/Register page
-------------------------------------------------- */
input#tab-login ~ ul label[for=tab-login],
input#tab-register ~ ul label[for=tab-register] {
    margin-bottom: 0;
}

input#tab-login:checked ~ ul label[for=tab-login],
input#tab-register:checked ~ ul label[for=tab-register] {
    border-color: #e9ecef #e9ecef #fff;
}

input#tab-login,
input#tab-register {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#login, 
#register {
    display: none;
}

input#tab-login:checked ~ #login {
    display: block;
}
input#tab-register:checked ~ #register {
    display: block;
}

/* Auction page
-------------------------------------------------- */
#lots {
    display: grid;
    justify-content: center;
    padding: initial;
    grid-template-columns: repeat(auto-fit, minmax(204px, max-content));
}
@media (min-width: 768px){
    #lots {
        grid-template-columns: repeat(auto-fit, minmax(222px, max-content));
    }
}

div.auction-type:not(:first-of-type) {
    min-height: 500px;
}
    
.info-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-bar > .info-text {
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #004085;
    text-align: center;
    margin-left: .25rem;
    margin-right: .25rem;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.add-button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: .25rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: #00662A;
}
    .add-button:hover {
        color: #00662A;
        border-color: #00662A;
        background-color: #fff;
    }

.lot-card {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    padding: 0.25rem
}

.lot-card-body {
    width: 190px;
    min-height: 150px;
}
@media (min-width: 768px) {
    .lot-card-body {
        width: 196px;
        min-height: 150px;
    }
}

img.lot-image-single {
    min-height: 150px;
    max-height: 220px;
    object-fit: contain;
}

img.lot-image-multi {
    min-height: 100px;
    max-height: 110px;
    object-fit: scale-down;
}

.lot-image-overflow {
    height: 110px;
    width: 95px;
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.bgg-icon > a > strong, .rating-icon > strong, .weight-icon > strong, .expansions-icon > strong {
    color: white;
}

.bgg-icon > img {
    height: 2.5rem;
}
.bgg-icon > a > strong {
    font-size: 0.6rem;
}

.rating-icon > i {
    font-size: 2.5rem;
    color: #00662A;
}

.weight-icon > i {
    font-size: 2.2rem;
}

.expansions-icon > i {
    color: #FF3E30;
}

.lot-text {
    width: 100%;
    text-align: center;
    margin: 0;
    display: inline-block;
    line-height: 1rem !important;
}
    .lot-text > strong {
        display: block;
        padding-bottom: 0.3rem 0;
    }

.lot-card .notes {
    position: relative;
    background: lemonchiffon;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}
    .lot-card .notes:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-width: 0 0 12px 12px;
        border-style: solid;
        border-color: #ece7b1 #fff;
    }
.lot-card .notes > p:first-of-type {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .lot-card .notes > p {
        margin: 0;
        padding: 0.2rem 0.6rem;
        display: none;
    }
.lot-card:hover .notes > p, 
.lot > input[name='activeLot']:checked ~ .lot-card .notes > p {
    display: -webkit-box;
    -webkit-line-clamp: inherit;
}

.price-range {
    display: none;
    margin: 0;
}
.lot > input[name='activeLot']:not(:checked) ~ .lot-card:hover .price-range {
    display: block;
}

.make-lot-active {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    top: -1px;
    padding: 5px;
    width: 50%;
    color: white;
    text-align: center;
    background: #FF3E30;
    border: solid 2px white;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0rem 0.3rem 0.5rem -0.1rem #FF3E30;
}
    .make-lot-active > label {
        cursor: pointer;
        margin-bottom: 0.125rem;
        color: #FFF;
    }
    .make-lot-active button {
        background-color: transparent;
        color: #FFF;
        border: none;
        padding: 0;
        outline: none !important;
    }
    .make-lot-active label:hover {
        background-color: #FFF;
    }
        .make-lot-active label:hover > button {
            color: #FF3E30;
        }

.lot-card-body > form {
    display: contents;
}
.lot > input[name='activeLot'] {
    display: none;
}
.lot > input[name='activeLot']:checked ~ .lot-card .make-lot-active {
    display: none;
}
.lot > input[name='activeLot']:checked ~ .lot-card .sales-options {
    display: block;
}
.lot-card:hover .make-lot-active {
    display: block;
}

#lots > .lot.movefirstwhenactive.active {
    order: -1;
}

.lot > input[name='activeLot']:checked ~ .lot-card {
    border-color: #FF3E30;
    box-shadow: 0rem .125rem .5rem 0.1rem #FF3E30 !important;
}

    .lot > input[name='activeLot']:checked ~ .lot-card:after {
        content: "Selling Now";
        font-size: 0.7rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        color: white;
        text-align: center;
        background: #FF3E30;
        border: solid 2px #FFF;
        border-top: none;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }


.lot > input.make-lot-active:checked {

}

.lot > .lot-card.yourLot {
    border-color: #60a2f4;
}

    .lot > .lot-card.yourLot:after {
        content: "Your lot";
        font-size: 0.7rem;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        text-align: center;
        background: #60a2f4;
        border-bottom: none;
        border-bottom-right-radius: .25rem;
    }

.sales-options, .make-lot-active {
    display: none;
}
.sales-options {
    position: relative;
    width: 100%;
}
    .sales-options button {
        min-width: 62px;
        margin-top: 0.25rem;
    }

    .sales-options input[type=number] {
        display: inline-block;
        width: 130px;
        margin-top: 0.25rem;
    }


/* Lot Page
-------------------------------------------------- */
.product-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.resultRow {
    width: 100%;
    text-align: left;
    padding: .25rem 0 .25rem .4rem;
    border: none;
    outline: none;
    background: none;
}
    .resultRow:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: #f1f1f1;
    }

    .resultRow .custom-checkbox {
        display: flex;
        flex-grow: 1;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 2rem;
    }

    .resultRow .custom-control-input:checked ~ .custom-control-label::before,
    .resultRow .custom-checkbox .custom-control-label::before,
    .resultRow .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
    .resultRow .custom-control-label::after {
        margin: 1.8rem 0;
        width: 1.5rem;
        height: 1.5rem;
        left: -2rem;
    }

    .resultRow .custom-control-input ~ .custom-control-label::before{
        border-width: 2px;
        border-color: #333;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #2e8b57;
        background-color: #2e8b57;
    }

    img.thumbnail {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }

    @media (min-width: 576px) {
        .addNote {
            flex-grow: initial !important;
        }

        label.addNote {
            position: static !important;
        }
    }

.expansion-checkbox ~ .custom-control-label {
    opacity: 0.5;
    flex-grow: 1;
}
.expansion-checkbox ~ .addNote,
.expansion-checkbox ~ .custom-control-label > .rich-select label {
    opacity: 0.5;
    pointer-events: none;
}
.expansion-checkbox:checked ~ .custom-control-label {
    opacity: 1;
}
.expansion-checkbox:checked ~ .addNote,
.expansion-checkbox:checked ~ .custom-control-label > .rich-select label {
    opacity: 1;
    pointer-events: initial;
}

#LotAddBasket {
    border-width: 1px;
    border-top-style: solid;
}

@media (min-width: 576px) {
    #LotAddBasket {
        border-left-style: solid;
        border-top: none;
    }
}

#AddFooter {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 60px;
    width: 100%;
    align-items: center;
    background-color: #fff;
    border-top: solid 1px #f1f1f1;
    box-shadow: 0 -0.25rem 0.75rem rgba(0, 0, 0, .05);
    z-index: 999;
}

#AddFooter .form-group {
    margin-bottom: 0;
}

    #AddFooter .field-validation-error {
        top: -2rem;
    }

input[type=checkbox].addNote {
    position: absolute;
    height: 0;
    width: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
     input[type=checkbox].addNote:not(:checked) ~ label > span > .unchecked,
     input[type=checkbox].addNote:checked ~ label > span > .checked {
        display: block;
    }
input[type=checkbox].addNote:not(:checked) ~ label > span > .checked,
input[type=checkbox].addNote:checked ~ label > span > .unchecked {
    display: none;
}
.product-wrapper > input.addNote:checked ~ textarea.addNote,
.expansion-checkbox:checked ~ input[type=checkbox].addNote:checked ~ textarea.addNote {
    display: block;
}
label.addNote {
    position: absolute;
    cursor: pointer;
    top: 1px;
    right: -3px;
    margin-bottom: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    label.addNote > span {
        color: #f1d900;
    }

    label.addNote > .addNoteText {
        color: #aaa;
        padding-right: .5rem;
    }

textarea.addNote {
    display: none;
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: .25rem;
    border-radius: 5px;
    resize: none;
}

.delete-item-btn {
    position: absolute;
    bottom: .25rem;
    right: .25rem;
}