﻿@model AuctionEditViewModel
@{
    ViewData["Title"] = "Auction Added";
}

<div class="row">
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-center">
        <h4>Your Auction has been created</h4>
        <h6>Here's your Auction Code!</h6>
        <div class="auction-code mx-auto mb-3" style="font-size: 2.5rem;">@Model.Code</div>
        <p class="text-left">Use the menu at the top to:</p>
            <p class="text-left ml-3"><i class="fas fa-users-cog fa-2x"></i> - get admin access, for you and others</p>
            <p class="text-left ml-3"><i class="fas fa-cogs fa-2x"></i> - change auction time, type, password, etc</p>
        <p class="text-left">The password you set is used by all admins, so make sure it's not a personal one before you share it</p>
    </div>
</div>
<form asp-controller="home" asp-action="auctionedit" method="put">
    <div class="form-group row">
        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2" asp-for="Start"></label>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <div class="input-group date" id="datetimepickerStart" data-target-input="nearest">
                <input type="text" asp-for="Start" class="form-control datetimepicker-input" data-target="#datetimepickerStart" />
                <div class="input-group-append" data-target="#datetimepickerStart" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
            </div>
        </div>

        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2 offset-xl-0" asp-for="End"></label>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <div class="form-group">
                <div class="input-group date" id="datetimepickerEnd" data-target-input="nearest">
                    <input type="text" asp-for="End" class="form-control datetimepicker-input" data-target="#datetimepickerEnd" />
                    <div class="input-group-append" data-target="#datetimepickerEnd" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () { $('#datetimepickerStart').datetimepicker(); });
            $(function () { $('#datetimepickerEnd').datetimepicker(); });
        </script>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2" asp-for="Password"></label>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <input class="form-control" type="password" asp-for="Password" />
        </div>

        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2 offset-xl-0" asp-for="ConfirmPassword"></label>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <input class="form-control" type="password" asp-for="ConfirmPassword" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-outline-success">Save Changes</button>
        </div>
    </div>
</form>

<div class="text-center mt-4">
    <a class="btn btn-outline-primary" asp-controller="Auction" asp-action="Index">To the Auction</a>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
}