﻿@model AuctionEditViewModel
@using BoardGameAuction.Models.Types
@{
    ViewData["Title"] = "Edit Auction";
}

<form asp-controller="auction" asp-action="edit" method="post">
    <div class="form-group row">
        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2" asp-for="Type"></label>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<AuctionType>()" class="form-control"></select>
            <span asp-validation-for="Type"></span>
        </div>
    </div>
    <div class="form-group row">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Code" />
        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2" asp-for="Start"></label>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="datetime-local" class="form-control" asp-for="Start" />
            <span asp-validation-for="Start"></span>
        </div>

        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2 offset-xl-0" asp-for="End"></label>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="datetime-local" class="form-control" asp-for="End" />
            <span asp-validation-for="End"></span>
        </div>
    </div>
    @if (Model.Status == AuctionStatus.NotStarted)
    {
        <div class="form-group row">
            <div class="col-12 text-center">
                <a class="btn btn-outline-success text-success" asp-action="Start"><i class="fa fa-play" aria-hidden="true"></i> Start Now</a>
            </div>
        </div>
    }
    @if (Model.Status == AuctionStatus.Active)
    {
        <div class="form-group row">
            <div class="col-12 text-center">
                <a class="btn btn-outline-secondary text-secondary" asp-action="Stop"><i class="fa fa-stop" aria-hidden="true"></i> Stop Now</a>
            </div>
        </div>
    }
    <div class="form-group row">
        <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
            Leave these boxes blank to keep the same password
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2" asp-for="Password"></label>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <input class="form-control" type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <label class="col-form-label col-md-4 col-lg-2 col-xl-1 offset-md-1 offset-lg-2 offset-xl-0" asp-for="ConfirmPassword"></label>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <input class="form-control" type="password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3">
            <span asp-validation-summary></span>
            <button type="submit" class="btn btn-outline-success">Save Changes</button>
        </div>
    </div>
</form>