﻿@model BoardGameAuction.Models.Auction
@{
    ViewData["Title"] = "Auction";
}

<div id="auction">
    @if (Model.Status == BoardGameAuction.Models.Types.AuctionStatus.NotStarted)
    {
        <div class="info-bar">
            <div style="width: 47px;"></div>
            <div class="info-text ml-auto">
                Status: <strong>Accepting Lots</strong> - Start time: @Model.Start.ToShortTimeString() @if (Model.Start.Date != DateTime.Today) { @Html.Raw($" ({Model.Start.ToString("d MMM")})") }
            </div>
            <a href="@Url.Action("AddItem", "Lot", new { @id = 0 })" class="btn add-button" title="List something for sale in this auction">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    }
    @Html.ValidationSummary()
    <div id="lots">
        @foreach (var lot in Model.Lots)
        {
            @await Html.PartialAsync("_Lot", lot)
        }
        @if (Model.Lots.Count == 0)
        {
            if (Model.Status == BoardGameAuction.Models.Types.AuctionStatus.NotStarted)
            {
                <div class="mx-auto text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>You'll only see your own lots until the auction starts</p>
                        <p>You can <a href="@Url.Action("AddItem", "Lot", new { @id = 0 })" class="btn btn-primary">List a Lot</a> using the green button to the right</p>
                    } 
                    else
                    {
                        <p class="h5 font-weight-bold pb-3">Expecting to see something here?</p>
                        <p>If you're selling stuff, <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a> to see your items.</p>
                        <p>Otherwise, hold tight, the bargains are coming.</p>
                    }
                </div>
            }
            else
            {
                <div class="mx-auto text-center">
                    <p class="h5 font-weight-bold">Sold!</p>
                    <p>Everything had to go, and it did. There will be a summary of sales up soon if you're interested</p>
                </div>
            }
        }
    </div>
</div>

@section Scripts
{
    @if (User.HasClaim(c => c.Type == "auctionCode"))
    {
        <script src="lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
        <script type="text/javascript">
        (async function () {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/auction/hub')
                .withAutomaticReconnect()
                .build();

            connection.on('removeLot', function (lotId) {
                document.getElementById('lot-wrapper-' + lotId).remove();
            });

            connection.on('makeLotActive', function (lotId) {
                $('#lots .active').removeClass('active');
                $('#lot-wrapper-' + lotId).addClass('active');
                $('#lot-wrapper-' + lotId + ' > input[type="radio"]#lot-' + lotId).prop('checked', true)
            });

            await connection.start();
        })();
        </script>
    }
}