﻿@using BoardGameAuction.Models.Types;
@model AuctionSummaryViewModel
@{
    ViewData["Title"] = "Auction";
}

    <div id="auction">
        @if(User.HasClaim(c => c.Type == "role" && (c.Value == ((int)RoleType.AuctionAdmin).ToString()) || c.Value == ((int)RoleType.Seller).ToString()) == false)
        {
            <h4 class="text-center m-4 pt-4">The auction is now over. Thanks for participating</h4>
        }
        <div class="info-bar mb-3">
            <div class="info-text">@Model.CountItemsSold items sold in @Model.CountLotsSold lots for a total of @Model.ValueSold.ToString("C0")</div>
        </div>
        
        <div class="d-flex flex-row flex-wrap justify-content-center">
            @foreach (var seller in Model.Sellers.Where(l => l.Seller != null))
            {
            <div class="card m-1">
                <h5 class="card-header">@seller.Seller.Name <span class="badge bg-secondary-dark text-white badge-pill ml-3 float-right">@seller.Total.ToString("C0")</span></h5>
                <div class="card-body p-0">
                    <ul class="list-group">
                        @foreach (var lot in seller.Lots)
                        {
                            if (lot.SalePrice == null)
                            {
                                // Not gone to the block
                                <li class="list-group-item d-flex justify-content-between align-items-center border-left-0 border-right-0 list-group-item-warning">
                                    @string.Join(", ", lot.Items.Select(i => i.Name))
                                </li>
                            }
                            else if (lot.SalePrice == -1)
                            {
                                // No Sale
                                <li class="list-group-item d-flex justify-content-between align-items-center border-left-0 border-right-0 list-group-item-secondary">
                                    @string.Join(", ", lot.Items.Select(i => i.Name))
                                    <span class="badge badge-light border border-dark badge-pill mx-1">No Sale</span>
                                </li>
                            }
                            else
                            {
                                // Sale
                                <li class="list-group-item d-flex justify-content-between align-items-center border-left-0 border-right-0">
                                    @string.Join(", ", lot.Items.Select(i => i.Name))
                                    <span class="badge badge-secondary badge-pill ml-3 mr-1">@lot.SalePrice.Value.ToString("C0")</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
    </div>