﻿@model AuctionRequestModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="home" asp-action="index" method="post">
    <div class="text-center mb-1 mb-md-2 mb-lg-5">
        <h3>Welcome to Board&nbsp;Game&nbsp;Auction</h3>
        <span asp-validation-summary></span>
    </div>

    <div id="homepage">
        @if (Model == null || Model.Id == 0)
        {
            <div class="container">
                <div class="row d-flex">
                    <div class="col-12 col-sm-6 text-center homepage-action px-1">
                        <i class="fa fas fa-6x fa-comments-dollar mt-3 mt-md-4 mt-lg-5"></i>
                        <h4 class="mt-1 mt-md-2 mt-lg-5 mb-3 mb-md-4">Join an auction</h4>
                        <input type="text" asp-for="Code" class = "form-control-lg col-5 col-md-4 col-lg-3 d-inline text-center" placeholder = "Code" autofocus />
                        <span asp-validation-for="Code"></span>
                        <small class="d-block mt-2 mt-lg-3">Enter the 4-letter auction code here</small>
                        <button class="btn btn-info w-25 mt-4 mt-sm-3 mt-md-2 mt-lg-5 mb-4 d-inline" type="submit" name="CreateAuction" value="false">Join</button>
                    </div>
                    <div class="col-12 col-sm-6 text-center homepage-action px-1 border-colour">
                        <i class="fa fas fa-6x fa-gavel mt-3 mt-md-4 mt-lg-5"></i>
                        <h4 class="mt-1 mt-md-2 mt-lg-5 mb-3 mb-md-4">Create an auction</h4>
                        <input type="password" asp-for="Password" class="form-control-lg col-8 col-md-7 col-lg-6 text-center" placeholder="Admin password" />
                        <span asp-validation-for="Password"></span>
                        <small class="d-block mt-2 mt-lg-3">Enter a password for all admins to use</small>
                        <button class="btn btn-info w-25 mt-4 mt-sm-3 mt-md-2 mt-lg-5 mb-4 d-inline" type="submit" name="CreateAuction" value="true">Create</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-1"><label asp-for="Code"></label></div>

                </div>
            </div>
        }
    </div>
</form>