﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The personal data on this site is designed to be transient and not kept for long. This reduces the time in which it can be attacked.</p> 

<h6>Selling your data</h6>
<p>Nope. We won't. It's become the worst thing about the internet and we won't become a part of that for something as small as this.</p>

<h6>Cookies</h6>
<p>Cookies are used on the site so you don't have to keep selecting which auction you're in and login again and again to access privilieged areas. There's no notice for this however because current EU law believes has <a href="https://wikis.ec.europa.eu/display/WEBGUIDE/04.+Cookies#section_2">certain exceptions</a> for limited time user preference and session storage, so we've saved you the click. Once you click Log out your cookies are deleted and gone. We aren't using them for tracking or advertising.</p>

<h6>Retention</h6>
<p>48 hours after an auction is ended it will be deleted. This will include the auction details, all lots and items, and any account that is not part of another auction.</p>
<p>This does mean that you will need to recreate your account next time you use the site, but it's safer</p>

<h6>Storage</h6>
<p>The site is written using Microsoft MVC and other database precautions such as contained databases and users have been used to keep your data safe.</p>
<p>Passwords are hashed using SHA256 and individual salting, so even if the database is somehow accessed your password should be safe. Not that you're worried, because you use different passwords for different sites, right? Right?!</p>

<h6>Ethical Hacking</h6>
<p>If you've found a security loop-hole, please <a href="mailto:mail@pixelsstudios.com">contact us</a> so we can fix it.</p>